@font-face { font-family: 'Calibril'; src: url('../font/calibril.ttf');}

.menu li {
    margin: 0;
    padding: 0;
}

.menu {

    height: 152px;
	width: auto;
    background: url("../images/bg_menu.png");
}
.menu li {

    display: inline-block;
    width: 14%;
    text-align: center;
}
.menu a {
    font-family:'Calibril';
    display: block;
    padding: 10px 0;
    color: #3a3a3a;
    text-decoration: none;
}
.menu a:hover {
background: url("../images/bg_menu2.png");
}