@font-face { font-family: 'Calibril'; src: url('../font/calibril.ttf');}

a { color:#185379; text-decoration:none; } a:hover { text-decoration:none; }

table {
    font-family:'Calibril';
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;
    margin:1% auto 0;

    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {
    padding:18px 28px 18px;
    text-align:center;
}

th {
    padding-top:22px;
    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
}

td {
    border: 0px;
    border-top:1px solid #e0e0e0;
}

.edit {
 padding: 6px 30px; color: #185379; text-decoration: none; background: url('../images/edit.png') no-repeat; font-size: 13px; text-transform: uppercase;
}

.delete {
 padding: 6px 30px; color: #185379; text-decoration: none; background: url('../images/delete.png') no-repeat; font-size: 13px; text-transform: uppercase;
}

.oki {
 padding: 6px 30px; color: #185379; text-decoration: none; background: url('../images/oki.png') no-repeat; font-size: 13px; text-transform: uppercase;
}

.close{
		margin-left: 364px;
		margin-top: 4px;
		cursor: pointer;
	}

   button {
    border: 5px solid transparent;
    background: #42a2bc; 
	color: #ffffff;
    font-size: 14px; 
	text-transform: uppercase;
    padding: 5px 20px; 
   }

#wrap{
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
	
	#window{
		width: 400px;
		height: 150px;
		margin: 50px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}